<%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>

<div>
  <h1 class="display-1 text-center bg-primary py-1 m-0">HR Portal</h1>
  <div class="mb-5"><%= render "positions/nav1" %></div>
  <h1 class="display-5 text-center m-3">New Position</h1>

  <div class="form"><%= render "positions/form", position: @position %></div>
</div>

