<div>
  <div class="mb-5"><%= render "positions/nav1" %></div>
  <h1 class="display-5 text-center m-3">New Position</h1>

  <div class="form"><%= render "positions/form", position: @position %></div>
</div>

