<div>
  <h1> Title: <%= @position.name %></h1>
  <h4> Description: <%= @position.description %></h4>
  <h4> Deadline to Apply: <%= @position.deadline %></h4>
  <h4> Available Openings: <%= @position.available %></h4>
</div>